.env

.venv
venv

*.csv

Bookly_Project_Plan.md

bookly_eda.py

bookly_cleaning.py

bookly_feature_engineering.py

bookly_training.py


detailed_explanation.md

# Exceeded github size limits
*.pkl

__pycache__
