.env

.venv
venv

*.csv

Bookly_Project_Plan.md

bookly_eda.py

bookly_cleaning.py

bookly_feature_engineering.py

bookly_training.py


detailed_explanation.md

__pycache__

# TO remove
bookly_model_training.ipynb
plot_06_model_comparison.png
plot_07_tuning_results.png
plot_08_actual_vs_predicted.png
plot_09_residuals.png
plot_10_learning_curve.png

publisher_encoding.pkl
global_mean.pkl
feature_columns.json
bookly_model.pkl
author_encoding.pkl

config.toml
predictor.py
app.py

app_screenshot.png